.pageContainer {
  min-height: 100vh;
  padding: 20px;
}

.profileWrapper {
  position: fixed;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 1000;
}

.profileContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #eef3ff;
  transition:
    opacity 0.3s,
    transform 0.3s;
}

.profileContainer:hover {
  transform: scale(1.05);
}

.profileIcon {
  font-size: 24px;
  color: #eef3ff;
}

.profileText {
  font-size: 16px;
  font-weight: 500;
  user-select: none;
}

.noHover {
  pointer-events: none;
  cursor: default;
  transform: none;
}

.bellWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: auto;
  position: relative;
  left: -45px;
}

.bellIcon {
  font-size: 24px;
  color: #eef3ff;
  transition:
    transform 0.3s,
    color 0.3s;
}

.bellWrapper:hover .bellIcon {
  transform: scale(1.1);
}

.menu {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
}

.menu :global(.ant-btn.custom-btn) {
  background-color: #212121;
  color: #eef3ff;
  border: none;
  border-radius: 0;
  padding: 0 130px 0 10px;
  text-align: left;
  justify-content: flex-start;
  display: flex;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    transform 0.3s;
  transform-origin: center;
  will-change: transform;
}

.menu :global(.ant-btn.custom-btn:hover),
.menu :global(.ant-btn.custom-btn:active) {
  background-color: #00db00;
  box-shadow: 0 0 10px #00db00;
  color: #212121;
  transform: scale(1.15);
}

.audioToggle :global(.ant-switch-checked) {
  background-color: #00db00;
  border-color: #00db00;
}

.audioToggle :global(.ant-switch:hover) {
  border-color: #00db00;
}

.audioToggle :global(.ant-switch-checked:hover) {
  background-color: #00db00 !important;
  border-color: #00db00 !important;
}
