.formContainer {
  margin-top: 16px;
}

.timeFields {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}

.timeField {
  width: 80px;
}

.checkbox {
  margin-top: 12px;
}

.buttonContainer {
  display: flex;
  gap: 15px;
  justify-content: end;
}
